<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

    <!-- Brand Logo -->
    <a class="navbar-brand" href="{% url 'home' %}">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-bootstrap-fill"
        viewBox="0 0 16 16">
        <path
          d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H6.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z" />
        <path
          d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396H5.062z" />
      </svg>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <!-- Home -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        <!-- Category dropdown -->
        {% if cat_menu %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for item in cat_menu %}
            <li><a class="dropdown-item" href="{% url 'category' item.id %}">{{ item }}</a></li>
            {% endfor %}
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'category-list' %}">Mode..</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'category-list' %}">Categories</a>
        </li>
        {% endif %}

        <!-- Checking for user authentication -->
        {% if user.is_authenticated %}
        <!-- Add Post -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
        </li>

        <!-- Add new category link -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Add Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Add Category</a>
        </li>
        {% endif %}
      </ul>

      <!-- Login and regidter button -->
      <div class="btn-group dropstart">
        {% if user.is_authenticated %}
        <button type="button" class="btn btn-danger dropdown-toggle-split" data-bs-toggle="dropdown"
          aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-gear-fill mb-1"
            viewBox="0 0 16 16">
            <path
              d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
          </svg>
          <span class="visually-hidden">Toggle Dropright</span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Settings</a></li>
          {% if user.profile.id %}
          <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">See Profile></a></li>
          <li><a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile</a></li>
          {% else %}
          <li><a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile</a></li>
          {% endif %}
          <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
        </ul>
        <a type="button" class="btn btn-outline-success" href="#">
          Welcome <strong>{{ user.first_name }} {{ user.last_name }}</strong>
        </a>
      </div>
      {% else %}
      <a class="nav-link" href="{% url 'register' %}">Register</a>
      <a class="nav-link" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
  </div>
</nav>